header{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    .nav-item{
        padding-right: 20px;
    }
}
.logo-img{
    img{
        width: 100px;
    }
}


