<div class="container">
    <header>
        <div class="logo-img">
            <img src="./assets/logo.png" alt="">
        </div>
        <nav>
            <span class="nav-item">
                <a href="#">Home</a>
            </span>
            <span class="nav-item">
                <a href="#">Maps</a>
            </span>
            <span class="nav-item">
                <a href="#">News</a>
            </span>
            <button class="btn btn-secondary">Get App</button>
        </nav>
    </header>
</div>
